@model Gateway.Models.LinkModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>LinkModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyListPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyRetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyRetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortalDomain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortalDomain)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
